/*
0 - 600px:    mobile phones;
600-900px:    Tablet portrait;
900-1200px:   Tablet landscape;
1200-1800px:  Where our normal style applies;
+ 1800px:     Big screens;

$breakpoint argument choices
- phone;
- tab-port;
- tab-land;
- big-desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*setting root font size to 10px, based for rem setting on browser default font-size of 16px, => 1rem = 10px;  => 10px/16px = 62.5%  */
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-xsmall {
  margin-bottom: 1rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-xlarge {
  margin-top: 10rem !important; }

.u-strong {
  font-weight: 800; }

.u-newLane {
  display: block;
  margin-bottom: 0.5rem; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

/* HEADERS ============================== */
.heading--1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin: 0.5rem 0; }

.heading--2 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 400; }

.heading--3 {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center; }

.hero {
  color: #fff; }
  .hero-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hero-heading {
    font-size: 6rem; }

.nav {
  position: fixed;
  color: #fff;
  top: 0;
  padding: 4rem 2.5rem;
  z-index: 100; }
  .nav-logo {
    flex-basis: 25%; }
    .nav-logo-img {
      width: 100%;
      object-fit: cover; }
  .nav-menu {
    flex-basis: 75%; }
  .nav-menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .nav-menu-link-title {
    display: none; }
  .nav-menu-item {
    margin-bottom: 3.5rem;
    text-align: center; }
  .nav-menu-link {
    color: #fff; }
    .nav-menu-link i {
      font-size: 3rem; }

.main-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 0;
  width: 15rem;
  height: 100%;
  background-color: rgba(14, 15, 15, 0.6); }

.social-nav {
  right: 0;
  width: 10rem;
  min-height: 50%; }
  .social-nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .social-nav-item {
    margin-bottom: 2rem;
    text-align: center; }
  .social-nav-link {
    color: #fff; }
    .social-nav-link i {
      font-size: 1.8rem; }

/* PARAGRAPH ============================ */
.paragraph {
  font-size: 1.5rem;
  line-height: 1.7;
  margin: 1.4rem 0; }

.hero-paragraph {
  font-size: 3.5rem;
  text-align: center; }

.section {
  width: 100%; }
  .section-home {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative; }

.splide__slide {
  position: relative;
  z-index: -100; }
  .splide__slide--1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/slide-1.jpg); }
  .splide__slide--2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/slide-2.jpg); }
  .splide__slide--3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/slide-3.jpg); }

.splide__pagination {
  visibility: hidden; }
