// This is for 65% progress
@keyframes circle-65 {
    100% {
        stroke-dashoffset: 154;
    }
}

// This is for 65% progress
@keyframes circle-50 {
    100% {
        stroke-dashoffset: 220;
    }
}

// This is for 65% progress
@keyframes circle-75 {
    100% {
        stroke-dashoffset: 110;
    }
}

// This is for 65% progress
@keyframes circle-40 {
    100% {
        stroke-dashoffset: 264;
    }
}

@keyframes getback-circle {
    100% {
        stroke-dashoffset: 440;
    }

}