//COLOURS
$color-white: #fff;
$color-black: #000;
$color-gray-dark: #555;

// main-navbar-colour
$color-dark-transparent-1: rgba(14,15,15, 0.6);
$color-dark-transparent-2: rgba(14,15,15, 0.9);

//primary green colour
$color-green-primary: #25ca7f;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$grid-width-medium: 80%;
$grid-width-small: 95%;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
