// .nav is a class for both main and social media navbars
.nav {
    position: fixed;
    color: $color-white;
    top: 0;
    padding: 4rem 2.5rem;
    z-index: 100;

    // settings for logo container
    &-logo {
        flex-basis: 25%;

        &-img {
            width: 100%;
            object-fit: cover;
        }
    }

    // settings for main menu
    &-menu {
        flex-basis: 75%;

        &::before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 20%;
            width: calc(100% + .5rem);
            height: .5rem;
            background-color: $color-dark-transparent-2;
        }
    }

    // styling of <ul> element, holding all nav items
    &-menu-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    // settings for nav icon title - hidden by default, shows on hover
    &-menu-link-title {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 50%;
        color: $color-green-primary;
        background-color: $color-dark-transparent-2;
        padding: 1.2rem 0.5rem;
        border-radius: .5rem;
        width: 10rem;
        transform: translateX(-50%) translateY(-6rem);
        transition: all .1s;
        
    }

    // settings of <li> of out menu list items
    &-menu-item {
        margin-bottom: 3.5rem;
        text-align: center;
        position: relative;
        

        &:hover .nav-menu-link-title {
            opacity: 1;
            visibility: visible;
            transform:translateX(-50%) translateY(-7rem);
            transition: all .6s;
        }

        &:hover .nav-menu-link {
            color: $color-green-primary;
        }
    }

    //styling of link element
    &-menu-link {
        color: $color-white;
        transition: color 0.6s;

        // styling of nav icons
        & i {
            font-size: 3rem;
        }
    }

}

//styling of active nav-links
.active a {
    color: $color-green-primary;
}

// styling of mani navbar
.main-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 0;
    width: $width-main-nav;
    height: 100%;
    background-color: $color-dark-transparent-1;
    border-right: .5rem solid transparent;
    transition: border-right .5s;

    &:hover {
        border-right: 0.5rem solid $color-dark-transparent-2;
    }
}

// styling of social media navbar
.social {

    &-nav {
        right: 0;
        width: $width-social-nav;
        min-height: 50%;

        &-list {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    
        &-item {
            margin-bottom: 2rem;
            text-align: center;

            &:hover .social-nav-link {
                color: $color-green-primary;
            }
        }

        &-link {
            color: $color-white;
            transition: color .6s;

          & i {
            font-size: 1.8rem;
          }
        }

    }

}
