.section {
    width: 100%;

    &-home {
        height: 100vh;
        // background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)), url(../img/slide-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
}
